@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["AboutMe"] = "About Me";

    <h2>About Me</h2>
    <h3><i>Kutloano Sehloho</i></h3>
    <br />

    <div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <h4>Biography</h4><br />
            <p>
                My name is Kutloano Sehloho. I am the youngest of 3 children. Born in May 2003, it is often a shock for
                many to learn that I am currently in my second year of tertiary education. <br />
                I am currently studying an undergraduate Bachelor of Information Technology. I will be a cyber security
                professional one day.
                <br /> Quote: <br />
                <i> Everything ain't for eveybody, but everything is for me</i>

                -2022
            </p>
        </div>
        <div class="col-lg-4">
            <img src="https://ibb.co/myy7NH4" class="img-rounded" alt="kut.jpg" width="304" height="236" />

        </div>
    </div></div>
    



}
